body {
  margin: 0;
  padding: 0;
  font-family: 'Aleo', serif;

}

button:focus {
    outline:none !important;
}

input:focus {
    outline:none !important;
}

.all-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#FFC107,#E91E63);
  overflow:auto;
}

header {
  /* background-color: white;
  margin: 30px 30px;
  padding: 0;

  height: 60px;
  border-radius: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  padding: 5px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

header h1 {
  background-color: none;
  margin-left: 30px;
  font-weight: 700;
}

header h1 span {
  color: red;
}

header div {
  background-color: none;
  margin-right: 30px;
  display: flex;
}

header div form label {
  font-weight: 700;
}

header div form input, header div select {
  background-color: white;
  border: 1px solid maroon;
  border-radius: 2px;
  padding: 5px 15px;
  box-shadow: 0 0 1px grey;
  margin-left: 5px;
  font-family: 'Aleo', serif;
  text-align: center;
  text-align-last: center;
}

header div form input:last-child:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,.1);
}

header div select {
  min-width: 140px;
  margin-left: 10px;
}

/* input#select-city {
  border: none;
  border-bottom: 1px solid lightgrey;
  text-align:center;
  box-shadow: 0 1px 0 lightgrey;
} */

#weather-container {
  background-color: rgba(255,255,255,.2);
  /* padding: 10px 0; */
}

#weather-container div {
  background-color: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 30px auto;
  padding: 0;
}

#weather-container div div {
  background-color: none;
  display: flex;
  align-items:flex-end;
  margin: 0;
}

#weather-container div div h1 {
  background-color: none;
  padding: 0;
  margin: 0;
}

#weather-container div div h2 {
  font-size: 18px;
  background-color: none;
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
  margin-left: 15px;
}


#weather-container div ul {
  width: 40%;
  background-color: none;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

#weather-container div ul button {
  font-family: 'Aleo', serif;
  background-color: rgba(255,255,255,0);
  border: none;
  padding: 30px 30px;
  height: 100%;
}

#weather-container div ul button span {
  font-size: 30px;
  font-weight: 700;
  pointer-events:none;
}

#weather-container div ul li {
  background-color: pink;
  padding: 20px;
  margin: 0 5px;
}

#weather-container div ul button:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,.2);
}

#weather-times {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  overflow-x:scroll;
}

#weather-times div {
  /* background-color: white;
  height: 300px;
  width: calc(90% / 8);
  border: 1px solid lightgrey;
  box-shadow: 0 0 2px lightgrey;
  margin: 20px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; */

  min-width: 100px;
  height: 300px;
  background: #fff;
  overflow: hidden;
  transition: 1s;
  z-index: 2s;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: -10px 25px 50px rgba(0,0,0,.2);
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 0 5px; */
}

#weather-times div:hover {
  margin: 0 20px;
  height: 320px;
}

#weather-times div i:first-child {
  width: 100%;
  background-color: none;
  font-size: 30px;
  text-align: center;
  border: 1px solid none;
  margin: 0 auto;
  margin-top: 20px;
}

#weather-times div i:last-child {
  font-size: 30px;
  color: orange;
}

#weather-times div h4 {
  background-color: none;
  margin: 20px 0;
  margin-bottom: 0;
  font-size: 30px;
}

#weather-times div h4 span {
  font-size: 16px;
  margin-left: 1px;
  color: red;
}

#weather-times div p {
  background-color: none;
  width: 100%;
  text-align: center;
}

#weather-times div p:nth-child(4) {
  background-color: none;
  font-size: 10px;
  text-transform:capitalize;
}

#weather-times div p:nth-child(5) {
  font-weight: 700;
}

#weather-container div ul button.selected {
  background-color: rgba(255,255,255,0.2);
  color: red;
}

.red {
  color: maroon;
}

@media (max-width: 1200px){
  header {
    margin: 20px;
  }


}

@media (max-width: 860px) {
  #weather-times {
    margin: 20px;
    justify-content: flex-start;
  }

  #weather-times div:hover {
    margin: 0;
  }
}
